.nav{
    display: block;
    font-size: 16px;
}
#clear {
  display: none;
}
.message{
  position:relative; 
}
.message_text{
  /*height:100px;*/
  width:100%;
}

.blur{
  -ms-filter: blur(6px);
  filter: blur(6px);
}
* {
  box-sizing: border-box;
}
body {
  font-family:'Avenir','Helvetica, Neue','Helvetica','Arial';
}


#modal-content {
    width: 50% ;
    margin: 0 ;
    padding: 10px 20px ;
    border: 2px solid #aaa ;
    background: #fff ;
    position: fixed ;
    display: none ;
    z-index: 2 ;
}

#modal-overlay {
    z-index: 1 ;
    display: none ;
    position: fixed ;
    top: 0 ;
    left: 0 ;
    width: 100% ;
    height: 120% ;
    background-color: rgba( 0,0,0, 0.75 ) ;
}

.button-link {
    color: #00f ;
    text-decoration: underline ;
}

.button-link:hover {
    cursor: pointer ;
    color: #f00 ;
}
.button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #990000;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 3px 3px 3px #666666;  /* 影の設定 */
  border        : 2px solid #990000;    /* 枠の指定 */
}
.loginPage {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
    .loginPage_title {
      margin-top: 12vh;
      margin-bottom: 12vh;
    }
    .loginPage_btn {
      display: block;
      max-width: 400px;
      
      padding: 20px;
      margin: 0 auto;
      border-radius: 30px;
      background: #fd5068;
      color: #fff;
      font-size: 20px;
    }
    /*.loginPage_btn a {*/
    /*  display: block;*/
      
    /*  padding: 20px;*/
    /*}*/
  .logo{
    width: 70px;
		height: 50px;
  }
li {
  list-style: none;
}
.setting{
  font-size: 20px;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  box-sizing: border-box;
  line-height: 1.8;
  /*background: #fd5068;*/
}
.setting li{
  border: thick double #32a1ce;
  margin: 10px;
  width: 100%;
  text-align: center;
  /*border-left: 1px solid #fff;*/
}
.setting a {
  height: 70px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.setting li:hover{
  background: #DDDDDD;
}
.searchBtn{
  text-align: right;
}
.sBtnContents{
  font-size: 1.5rem;
  background: #fd5068;
  color: #fff;
  border-radius: 30px;
}
.sBtnContents a:hover{
  text-decoration: underline ;
}
.billingBtn{
  display: block;
  max-width: 200px;
  
  padding: 20px;
  margin: 0 auto;
  border-radius: 30px;
  background: #fd5068;
  color: #fff;
  font-size: 20px;
}
/*mesage*/
.sent_msg {
    overflow: hidden;
    margin: 10px 0 10px;
}
.sent_withd_msgM {
    float: right;
    width: 46%;
}
.sent_withd_msgM h3 {
    background: rgba(0,123,255,.5) none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #333;
    padding: 5px 10px 5px 22px;
    width: 100%;
	border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}
.sent_withd_msgW {
    float: right;
    width: 46%;
}
.sent_withd_msgW h3 {
    background: rgba(255, 99, 71,.5) none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #333;
    padding: 5px 10px 5px 22px;
    width: 100%;
	border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}
.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received_withd_msgM {
    width: 57%;
}
.received_withd_msgM h3 {
    background: rgba(0,123,255,.5) none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 22px;
    width: 100%;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}
.received_withd_msgW {
    width: 57%;
}
.received_withd_msgW h3 {
    background: rgba(255, 99, 71,.5) none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 22px;
    width: 100%;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}
/*.send-message {*/
/*    padding: 15px;*/
/*    background: #007bff;*/
/*    height: auto;*/
/*    border-radius: 50px;*/
/*}*/
/*.send-message textarea:focus {*/
/*    box-shadow: none;*/
/*    outline: none;*/
/*	border-color:#ddd;*/
/*}*/
/*.send-message ul li {*/
/*    display: -webkit-inline-box;*/
/*    padding-left: 25px;*/
/*}*/
/*.send-message ul li i{color:#0056b3;}*/
/*.send-message ul li button{*/
/*  position: absolute;*/
/*  left: 5px;*/
/*  bottom: -7px;*/
/*  outline: none;*/
/*  border: none;*/
/*  appearance: none;*/
/*  background-color: transparent;*/
/*  padding: 2px;*/
/*  width: 30px;*/
/*  height: 30px;*/
/*}*/
/*.send-message ul {*/
/*    position: absolute;*/
/*    right: 50px;*/
/*    bottom: 10px;*/
/*    border-left: 1px solid #9c9a9a;*/
/*}*/
/*.send-message .form-control {*/
/*    border-radius: 50px;*/
/*}*/
#btn_send{
  width: 30px;
  height: 30px;
}
	
/*画像を丸く*/
.navbar-brand img{
  border-radius: 1px;
}
img {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  180px;       /* ※縦横を同値に */
    height: 180px;       /* ※縦横を同値に */
}

/*プロフィールリスト*/
#list{
  display: flex;
  flex-wrap: wrap;
}
/*いいね*/
.changefav_btn{
    display: block;
    max-width: 400px;
    
    padding: 15px;
    margin-bottom :4px;
    border-radius: 30px;
    background: #fd5068;
    font-size: 1.5rem;
   
}
/*マッチング主題*/
.underlineMatch {
    border-bottom:double;/*二重線を引く*/
    border-color:#FF0000;
    border-width:3px;
    width: 160px;
}
.btn-chat{
  background: #007bff;
}
/*足跡*/
.underlineFoot{
  border-bottom:double;/*二重線を引く*/
    border-color:#FF0000;
    border-width:3px;
    width: 260px;
}
/*プロフ編集*/
.prof{
  font-size: 15px;
}
#sex_female{
  margin-left: 20px;  
}
label{
  white-space: nowrap;
}
.registration{
  display: block;
  max-width: 400px;

  margin: 0 auto;
  border-radius: 30px;
  font-size: 20px;
}